sand-dark = #82521f
sand-dark-rgba = rgba(130, 82, 31, 0.5)
sand = #A2723F

animation()
  -webkit-animation: arguments
  -moz-animation: arguments
  -ms-animation: arguments
  -o-animation: arguments
  animation: arguments

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments

corner()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  -ms-border-radius: arguments
  -o-border-radius: arguments
  border-radius: arguments

@keyframes flash
  0%
    opacity: 1.0
  50%
    opacity: 0.25
  100%
    opacity: 1.0

@keyframes crab-attached
  0%
    transform(scale(1.0))
  50%
    transform(scale(1.5))
  100%
    transform(scale(1.0))

@keyframes crab-detached
  0%
    opacity: 1    
    transform(translateY(0px) scale(1.0) rotate(0deg))
  20%
    opacity: 1
    transform(translateY(0px) scale(1.0) rotate(180deg))
  50%
    opacity: 1
    transform(translateY(0px) scale(0.8) rotate(180deg))
  100%
    opacity: 0
    transform(translateY(0px) scale(0.8) rotate(180deg))

@keyframes crab-scuttle
  0%
    transform(rotate(-10deg)) 
  50%
    transform(rotate(10deg))
  100%
    transform(rotate(-10deg))

@keyframes beachball-spin
  0%
    background-position: 0px 0px;

  10%
    background-position: 0px -1440px;

  20%
    background-position: 0px -1280px;
  
  30%
    background-position: 0px -1120px;

  40%
    background-position: 0px -960px;

  50%
    background-position: 0px -800px;

  60%
    background-position: 0px -640px;

  70%
    background-position: 0px -480px;
  
  80%
    background-position: 0px -320px;

  90%
    background-position: 0px -160px;

  100%
    background-position: 0px 0px;

@keyframes jump
  0%
    transform(translateY(20px))
  50%
    transform(translateY(-280px))
  90%
    transform(translateY(30px))
  100%
    transform(translateY(0px))

.jump
  animation(jump 1.0s ease-in-out 0s 1)

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button
  *overflow: visible

body
  padding: 0px
  margin: 0px
  position: relative
  font-family: 'Wellfleet', 'Arial', sans

#beachball * .image
  width: 160px
  height: 160px
  background-image: url('../images/beachball-uni.png')
  background-repeat: no-repeat
  animation(beachball-spin 1.2s step-start 0s infinite) 

#beachball
  position: fixed
  width: 160px
  height: 160px
  left: 50%
  top: 50%
  z-index: 10
  
#beach
  position: fixed
  width: 100%
  height: 100% 
  background-image: url('../images/sand.png')
  background-position: 0 0

#dune, #crab, #pink-crab, #hit-icon
  display: none

.dune, .crab
  position: fixed

.crab
  animation(crab-scuttle 0.8s step-start 0s infinite)

.crab-attached
  animation(crab-attached 1s ease-out 0s 2)

.crab-detached
  animation(crab-detached 1.5s ease-out 0s 1)

.flash
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation(flash 0.8s step-start 0s infinite reverse)

.invulnerable
  corner(80px)
  opacity: 0.5

.hit-icon
  width: 75px
  height: 75px
  margin: 8px

#hit-counter  
  position: absolute
  text-align: center
  left: 30px
  top: -80px
  width: 100px
  corner(10px)
  background: rgba(255, 245, 245, 0.4)
  z-index: 20

header h1, header h3
  display: inline-block;
  font-size: 28pt
  margin: 0
  padding: 15px 35px 15px 35px
  background: sand-dark-rgba
  corner(0px 0px 25px 25px)

header h3
  font-size: 18pt

header
  text-align: center
  color: white
  position: fixed
  width: 100%
  margin: 0
  z-index: 15
